.div__main__cart{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div__cart {
    position: relative;
    width: 1280px;
    margin-top: 30px;
    min-height: 800px;
    background-color: rgb(255, 255, 255);
  }
  
  .div__cart table thead {
    font-weight: 900;
  }
  
  .div__cart table {
    border-collapse: collapse;
    width: 100%;
    color: rgb(11, 55, 80);
  }
  
  .div__cart table td {
    border-bottom: 1px solid rgb(11, 55, 80);
    height: 40px;
    min-width: 40px;
    border-right-width: 2px;
  }
  
  .div__cart table tr {
    table-layout: fixed;
    text-align: center;
  }

  .div__cart table td:nth-child(2) {
    text-align: left;
  }

  .div__cart table td:nth-child(3) {
    text-align: left;
  }
  
  .div__cart table tfoot {
    position: absolute; 
    background-color: rgb(11, 55, 80);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 20px 50px 20px 20px;
    right: 0;
    bottom: 0; 
    table-layout: fixed;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div__cart table tfoot tr {
    background-color: rgb(11, 55, 80);
    color: white;
  }


  .div__cart table button {
   text-align: center;
   background-color: transparent;
   border: none;
   cursor: pointer;
  }
  
  