.div__main__category{
    margin-top: 20px;
}

.container__categories div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__categories{
border: none;
background-color: transparent;
cursor: pointer;
}

.container__categories div p{
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    width: 120px;
    height: 60px;
}

.container__categories img{
    max-width: 120px;
    height: 120px;
    border-radius: 30px;
}