.main__div__header{
    width: 100%;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 6px solid #f16223;
    border-bottom: 30px solid #f16223;
}

.div__header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 120px;
    width: 2000px;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    line-height: 30px;
}

.div__header div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -120px;
  height: 20vh;
}

.div__header div:first-child img{
  width: 150px;
}

.div__header__title{
    font-size: 80px;
    color: white;
}

.div__header input{
    width: 800px;
    height: 6em;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input::placeholder{
  font-size: 20px;
}

  .div__header button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 4em;
    font-weight: 900;
    border: none;
    background-color: transparent;
    color: white;
    transition-duration: 1s;
    cursor: pointer;
  }

  .div__header .login__button{
    font-size: 15px;
    align-items: center;
    justify-content: center;
    width: 250px;
    position: absolute;
    top: 50px;
    right: 50%;
  }


  .div__header .login__button p:nth-child(2){
    font-size: 35px;
  }


  .div__header .cart__button{
    background-color: #111111;
    border-radius: 100px;
    width: 8em;
    height: 80px;
    font-size: 30px;
  }

  .div__header .fav__button{
    width: 7em;
    height: 60px;
    font-size: 30px;
}

  .div__header .search__button{
    background-color: #f16223;;
    font-weight: 900;
    font-size: 20px;
    height: 80px;
    border: none;
    width: 6em;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

  .lupa__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 5em;
    border: none;
    color: #f16223;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 50px;
  }

  .div__header .icon{
    width: 50px;
  }

  .div__header table{
    table-layout: fixed;
    align-self:end;
    flex-wrap: wrap;
    width:50%;
    align-items: center;
    justify-content: space-evenly;
}

.div__header table th{
  font-size: 20px;
  color: white;
}

.div__header table th:last-child{
  border:none;
}