.div__search{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__search__products{
    width: 1366px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
